USE [master]
GO
/****** Object:  Database [DBMS_FinalProject]    Script Date: 5/19/2021 2:53:21 PM ******/
CREATE DATABASE [DBMS_FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMS_FinalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBMS_FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBMS_FinalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBMS_FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMS_FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMS_FinalProject]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Birthday] [date] NULL,
	[Phone] [nvarchar](100) NULL,
	[IdentityNumber] [nvarchar](100) NOT NULL,
	[StatusEmployee] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[WorkID] [nvarchar](100) NULL,
	[Picture] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_SearchEmployeesWithName]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Func_SearchEmployeesWithName] (@search_name nvarchar(100))
RETURNS TABLE AS
	RETURN SELECT * FROM dbo.EMPLOYEE
		   WHERE FullName LIKE '%' + @search_name + '%'
GO
/****** Object:  UserDefinedFunction [dbo].[Func_TakePicWhenCheckin]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Func_TakePicWhenCheckin] (@EmpID varchar(100))
RETURNS TABLE AS
	RETURN SELECT Picture, FullName
		   FROM EMPLOYEE
	       WHERE EMPLOYEE.ID = @EmpID;
GO
/****** Object:  UserDefinedFunction [dbo].[Func_TakeInfoWhenCheckin]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Func_TakeInfoWhenCheckin] (@EmpID varchar(100))
RETURNS TABLE AS
	RETURN SELECT Id, FullName, Gender, Phone, IdentityNumber
		   FROM EMPLOYEE
	       WHERE EMPLOYEE.ID = @EmpID;
GO
/****** Object:  Table [dbo].[DEVICES]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICES](
	[DeviceID] [nvarchar](100) NOT NULL,
	[TypeID] [nvarchar](100) NULL,
	[DStatus] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_CheckAvailableDevices]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Func_CheckAvailableDevices] (@devid nvarchar(100))
RETURNS table AS
	return SELECT * FROM DEVICES WHERE DeviceID = @devid and DStatus = 'Chưa sử dụng';
GO
/****** Object:  Table [dbo].[ACCOUNTCUSTOMER]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTCUSTOMER](
	[UserName] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](100) NULL,
	[TimeAvailible] [datetime] NULL,
	[TimeUsed] [datetime] NULL,
	[CustomerID] [nvarchar](100) NULL,
	[DeviceID] [nvarchar](100) NULL,
	[StatusCustomer] [int] NULL,
	[AccMoney] [float] NULL,
	[ActualTimeAvl] [nvarchar](100) NULL,
 CONSTRAINT [PK__ACCOUNTC__C9F284578CF3D32D] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_CheckDevicesFromUser]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Func_CheckDevicesFromUser] (@devid nvarchar(100))
RETURNS table AS
	return SELECT a.CustomerID,a.DeviceID,d.DStatus 
		FROM DEVICES d, ACCOUNTCUSTOMER a 
		WHERE d.DeviceID = @devid 
		and a.DeviceID = d.DeviceID
		and DStatus != 'Chưa sử dụng';
GO
/****** Object:  UserDefinedFunction [dbo].[Func_CheckDevicesFromUser2]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Func_CheckDevicesFromUser2] (@devid nvarchar(100))
RETURNS table AS
	return SELECT a.CustomerID,a.DeviceID,d.DStatus 
		FROM DEVICES d, ACCOUNTCUSTOMER a 
		WHERE d.DeviceID = @devid 
		and a.DeviceID = d.DeviceID
		and DStatus = 'Chưa sử dụng';
GO
/****** Object:  Table [dbo].[ACCOUNTEMPLOYEE]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTEMPLOYEE](
	[ID] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](1000) NULL,
	[TypeEmployee] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](100) NULL,
	[IdentityCardNumber] [nvarchar](100) NULL,
	[MoneyCharged] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVICETYPE]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICETYPE](
	[TypeID] [nvarchar](100) NOT NULL,
	[CPU] [nvarchar](100) NOT NULL,
	[RAM] [nvarchar](100) NOT NULL,
	[PowerSupply] [nvarchar](100) NOT NULL,
	[GraphicCard] [nvarchar](100) NOT NULL,
	[Mainboard] [nvarchar](100) NOT NULL,
	[DeviceCase] [nvarchar](100) NOT NULL,
	[Monitor] [nvarchar](100) NOT NULL,
	[Mouse] [nvarchar](100) NOT NULL,
	[KeyBoard] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB](
	[WorkID] [nvarchar](100) NOT NULL,
	[CoefficientsSalary] [real] NULL,
	[JobDetail] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[IDEmployee] [nvarchar](100) NOT NULL,
	[MonthWork] [int] NOT NULL,
	[YearWork] [int] NOT NULL,
	[Reward] [real] NULL,
	[Fine] [real] NULL,
	[NumberofWorkShift] [int] NULL,
	[SalaryEmployee] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC,
	[MonthWork] ASC,
	[YearWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMEKEEPING]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMEKEEPING](
	[IDEmployee] [nvarchar](100) NOT NULL,
	[CheckIn] [datetime] NOT NULL,
	[CheckOut] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC,
	[CheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK](
	[EmpID] [nvarchar](100) NOT NULL,
	[ShiftID] [int] NOT NULL,
	[ShiftManagerID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC,
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKSHIFT]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKSHIFT](
	[ShiftID] [int] NOT NULL,
	[TimeBegin] [time](7) NOT NULL,
	[TimeEnd] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNTCUSTOMER] ([UserName], [PassWord], [TimeAvailible], [TimeUsed], [CustomerID], [DeviceID], [StatusCustomer], [AccMoney], [ActualTimeAvl]) VALUES (N'dsad', NULL, NULL, CAST(N'2021-05-19T14:39:32.550' AS DateTime), N'kh4', N'MAY01', 0, 0, NULL)
INSERT [dbo].[ACCOUNTCUSTOMER] ([UserName], [PassWord], [TimeAvailible], [TimeUsed], [CustomerID], [DeviceID], [StatusCustomer], [AccMoney], [ActualTimeAvl]) VALUES (N'van a', N'1', NULL, CAST(N'2021-05-19T14:48:28.683' AS DateTime), N'KH1', N'MAY02', 0, 5000, NULL)
INSERT [dbo].[ACCOUNTCUSTOMER] ([UserName], [PassWord], [TimeAvailible], [TimeUsed], [CustomerID], [DeviceID], [StatusCustomer], [AccMoney], [ActualTimeAvl]) VALUES (N'van b', N'1', NULL, NULL, N'KH2', N'MAY03', 0, NULL, NULL)
GO
INSERT [dbo].[CUSTOMER] ([CustomerID], [FullName], [PhoneNumber], [IdentityCardNumber], [MoneyCharged]) VALUES (N'KH1', N'Nguyen Van A', N'12345678', N'1', 2000)
INSERT [dbo].[CUSTOMER] ([CustomerID], [FullName], [PhoneNumber], [IdentityCardNumber], [MoneyCharged]) VALUES (N'KH2', N'Nguyen Van B', N'12345678', N'2', 50000)
INSERT [dbo].[CUSTOMER] ([CustomerID], [FullName], [PhoneNumber], [IdentityCardNumber], [MoneyCharged]) VALUES (N'KH3', N'Nguyen Van C', N'12345678', N'3', 30000)
GO
INSERT [dbo].[DEVICES] ([DeviceID], [TypeID], [DStatus]) VALUES (N'MAY01', N'Vip', N'Đang sử dụng')
INSERT [dbo].[DEVICES] ([DeviceID], [TypeID], [DStatus]) VALUES (N'MAY02', N'Super Vip', N'Đang sử dụng')
INSERT [dbo].[DEVICES] ([DeviceID], [TypeID], [DStatus]) VALUES (N'MAY04', N'Vip', N'Đang sử dụng')
GO
INSERT [dbo].[DEVICETYPE] ([TypeID], [CPU], [RAM], [PowerSupply], [GraphicCard], [Mainboard], [DeviceCase], [Monitor], [Mouse], [KeyBoard]) VALUES (N'Super Vip', N'Intel Core i9', N'DDR4', N'SilverStone ST50F-ES230', N'Radeon RX 6800 XT Gaming', N'sus PRIME H310M-CS R2.0 LGA1151v2', N'GIGABYTE C200 Glass', N'LG 24GN600-B', N'Logitech G102 Lightsync RGB Black', N'Razer Huntsman V2 Analog')
INSERT [dbo].[DEVICETYPE] ([TypeID], [CPU], [RAM], [PowerSupply], [GraphicCard], [Mainboard], [DeviceCase], [Monitor], [Mouse], [KeyBoard]) VALUES (N'Thường', N'AMD Ryzen 5 3600', N'DDR4', N'CoolerMaster MWE 400', N'RTX 3080 GameRock 10G', N'ASROCK H410M-HVS', N'XIGMATEK MASTER X 3FX', N'ViewSonic VA2406', N'Logitech G102 Lightsync RGB White', N'Razer Blackwidow Lite')
INSERT [dbo].[DEVICETYPE] ([TypeID], [CPU], [RAM], [PowerSupply], [GraphicCard], [Mainboard], [DeviceCase], [Monitor], [Mouse], [KeyBoard]) VALUES (N'Vip', N'AMD Ryzen 5 5600X', N'DDR4', N'Gigabyte P450B', N'RX 6700 XT OC Edition', N'MSI A320M-A PRO MAX', N'MSI MAG VAMPIRIC 100R', N'LG 24GN600-B', N'Logitech G102 Lightsync RGB Black', N'Razer Huntsman Mini')
GO
INSERT [dbo].[EMPLOYEE] ([ID], [FullName], [Gender], [Birthday], [Phone], [IdentityNumber], [StatusEmployee], [Email], [WorkID], [Picture]) VALUES (N'NV10', N'Nguyễn Hải Thanh', N'Nam', CAST(N'1985-10-01' AS Date), N'753916824', N'079200001919', N'', N'', N'NV', NULL)
INSERT [dbo].[EMPLOYEE] ([ID], [FullName], [Gender], [Birthday], [Phone], [IdentityNumber], [StatusEmployee], [Email], [WorkID], [Picture]) VALUES (N'NV11', N'Nguyễn Thị Diễm', N'Nữ', CAST(N'1991-11-02' AS Date), N'425896731', N'079200011910', N'', N'', N'NV', NULL)
GO
INSERT [dbo].[JOB] ([WorkID], [CoefficientsSalary], [JobDetail]) VALUES (N'LC', 1.5, N'Lao Công')
INSERT [dbo].[JOB] ([WorkID], [CoefficientsSalary], [JobDetail]) VALUES (N'NV', 1, N'Nhân Viên')
INSERT [dbo].[JOB] ([WorkID], [CoefficientsSalary], [JobDetail]) VALUES (N'QL', 2, N'Quản Lý')
GO
INSERT [dbo].[WORK] ([EmpID], [ShiftID], [ShiftManagerID]) VALUES (N'NV1', 1, N'NV5')
INSERT [dbo].[WORK] ([EmpID], [ShiftID], [ShiftManagerID]) VALUES (N'NV10', 2, N'NV14')
INSERT [dbo].[WORK] ([EmpID], [ShiftID], [ShiftManagerID]) VALUES (N'NV11', 2, N'NV14')
GO
INSERT [dbo].[WORKSHIFT] ([ShiftID], [TimeBegin], [TimeEnd]) VALUES (1, CAST(N'00:00:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[WORKSHIFT] ([ShiftID], [TimeBegin], [TimeEnd]) VALUES (2, CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[WORKSHIFT] ([ShiftID], [TimeBegin], [TimeEnd]) VALUES (3, CAST(N'16:00:00' AS Time), CAST(N'00:00:00' AS Time))
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT ((0)) FOR [Reward]
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT ((0)) FOR [Fine]
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT ((0)) FOR [NumberofWorkShift]
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT ((0)) FOR [SalaryEmployee]
GO
ALTER TABLE [dbo].[ACCOUNTEMPLOYEE]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[DEVICES]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[DEVICETYPE] ([TypeID])
ON UPDATE SET NULL
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([WorkID])
REFERENCES [dbo].[JOB] ([WorkID])
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[TIMEKEEPING]  WITH CHECK ADD FOREIGN KEY([IDEmployee])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[WORK]  WITH CHECK ADD  CONSTRAINT [FK_EmpIDandID] FOREIGN KEY([EmpID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[WORK] CHECK CONSTRAINT [FK_EmpIDandID]
GO
ALTER TABLE [dbo].[WORK]  WITH CHECK ADD  CONSTRAINT [FK_ShiftIDandWorkShift] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[WORKSHIFT] ([ShiftID])
GO
ALTER TABLE [dbo].[WORK] CHECK CONSTRAINT [FK_ShiftIDandWorkShift]
GO
/****** Object:  StoredProcedure [dbo].[AccCusActualTimeAvl]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[AccCusActualTimeAvl](@cid NVARCHAR(100))
AS
BEGIN
	 DECLARE @Tavl DATETIME
	 SELECT @Tavl=TimeAvailible
	 FROM dbo.ACCOUNTCUSTOMER
	 WHERE CustomerID =@cid

	 UPDATE dbo.ACCOUNTCUSTOMER
	 SET
		ActualTimeAvl=(CONVERT(varchar, @Tavl, 108) + ' ' + CONVERT(VARCHAR, DAY(@Tavl)-1)) + 'ngay ' 
		+CONVERT(VARCHAR, MONTH(@Tavl)-1) +'thang '+ CONVERT(VARCHAR, YEAR(@Tavl) - 1900) +'nam'
	 WHERE CustomerID =@cid
END
GO
/****** Object:  StoredProcedure [dbo].[Create_Accus]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Create_Accus] (@un NVARCHAR(100),@pass NVARCHAR(100),@cid NVARCHAR(100))
AS
BEGIN
	INSERT INTO dbo.ACCOUNTCUSTOMER
	(
	    UserName,
	    PassWord,
	    CustomerID,
		AccMoney                  ---khi tao tai khoan moi thi so tien auto =0
	)
	VALUES
	(   @un,       -- UserName - nvarchar(100)
	    @pass,       -- PassWord - nvarchar(100)
	    @cid,
		0
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[Create_customer]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Create_customer] (@cid nvarchar(100),@ful nvarchar(100),@phn nvarchar(100),@icn nvarchar(50),@mon int)
AS
BEGIN
 INSERT INTO dbo.CUSTOMER
 (
     CustomerID,
     FullName,
     PhoneNumber,
     IdentityCardNumber,
     MoneyCharged
 )
 VALUES
 (   @cid, -- CustomerID - nvarchar(100)
     @ful, -- FullName - nvarchar(100)
     @phn,   -- PhoneNumber - int
     @icn,   -- IdentityCardNumber - int
     @mon  -- MoneyCharged - float
     )
END;
GO
/****** Object:  StoredProcedure [dbo].[deleteById_customer]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[deleteById_customer] (@cid nvarchar(100))
AS
BEGIN
 DELETE FROM dbo.CUSTOMER
 WHERE CustomerID=@cid
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteDeviceByID]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DeleteDeviceByID] (@devID nvarchar(100))
AS
BEGIN
UPDATE  ACCOUNTCUSTOMER SET ACCOUNTCUSTOMER.DeviceID = null
WHERE ACCOUNTCUSTOMER.DeviceID = @devID
 DELETE FROM dbo.DEVICES
 WHERE DEVICES.DeviceID = @devID
END;
GO
/****** Object:  StoredProcedure [dbo].[DepositBudget_Accountcustomer]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DepositBudget_Accountcustomer](@cid nvarchar(100),@mon float)
AS
BEGIN
	UPDATE dbo.ACCOUNTCUSTOMER
	SET 
	     AccMoney=AccMoney+@mon                    ---------- cột Accmoney mới thêm vào AccountCustomer để phân biệt với bên Customer
	FROM dbo.CUSTOMER,dbo.ACCOUNTCUSTOMER
	WHERE CUSTOMER.CustomerID=dbo.ACCOUNTCUSTOMER.CustomerID
	AND ACCOUNTCUSTOMER.CustomerID=@cid

	UPDATE dbo.CUSTOMER
	SET
		MoneyCharged=MoneyCharged-@mon
	FROM dbo.CUSTOMER,dbo.ACCOUNTCUSTOMER
	WHERE CUSTOMER.CustomerID=dbo.ACCOUNTCUSTOMER.CustomerID
	AND ACCOUNTCUSTOMER.CustomerID=@cid
END
GO
/****** Object:  StoredProcedure [dbo].[Edit_Device]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[Edit_Device] (@devid nvarchar(100),@type nvarchar(100),@status nvarchar(100))
AS
BEGIN
	UPDATE dbo.DEVICES
	SET 
		TypeID=@type,
		DStatus=@status
	WHERE DeviceID=@devid
END;
GO
/****** Object:  StoredProcedure [dbo].[EditInfo_customer]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[EditInfo_customer](@cid nvarchar(100),@ful nvarchar(100),@phn nvarchar(100),@icn nvarchar(50),@mon int)
AS
BEGIN
	UPDATE dbo.CUSTOMER
	SET 
		FullName=@ful,
		PhoneNumber=@phn,
		IdentityCardNumber=@icn,
		MoneyCharged=@mon
	WHERE CustomerID=@cid
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Device]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Insert_Device] (@devid nvarchar(100),@type nvarchar(100),@status nvarchar(100))
AS
BEGIN
 INSERT INTO dbo.DEVICES
 (
 DeviceID,
 TypeID,
 DStatus
 )

 VALUES
 (   @devid, 
     @type, 
     @status
     )
END;
GO
/****** Object:  StoredProcedure [dbo].[ShowCustomerIsPlaying]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[ShowCustomerIsPlaying] @DevID nvarchar(100)
as
begin
select c.CustomerID,c.FullName,c.PhoneNumber,c.MoneyCharged,a.UserName,a.TimeAvailible,a.TimeUsed,a.DeviceID
from ACCOUNTCUSTOMER a, DEVICES d, CUSTOMER c
where a.DeviceID = d.DeviceID
and a.DeviceID = @DevID
and a.CustomerID = c.CustomerID
end;
GO
/****** Object:  StoredProcedure [dbo].[ShowInfoCustomerGroupByTypeID]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[ShowInfoCustomerGroupByTypeID] @TypeID nvarchar(100)
as
begin
select a.UserName,a.PassWord,a.TimeAvailible,a.TimeUsed,a.CustomerID,a.DeviceID,a.StatusCustomer
from ACCOUNTCUSTOMER a, DEVICES d
where a.DeviceID = d.DeviceID
and d.TypeID = @TypeID
end;
GO
/****** Object:  StoredProcedure [dbo].[StartPlaying]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--8. Cấp quyền sử dụng
CREATE   PROCEDURE [dbo].[StartPlaying] @devid nvarchar(MAX)

AS
BEGIN

UPDATE ACCOUNTCUSTOMER 
SET StatusCustomer = 1
WHERE ACCOUNTCUSTOMER.DeviceID = @devid

UPDATE DEVICES
SET DStatus = N'Đang sử dụng'
WHERE DeviceID = @devid
END;
GO
/****** Object:  StoredProcedure [dbo].[StartRepairing]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[StartRepairing] @devid nvarchar(MAX)

AS
BEGIN

UPDATE ACCOUNTCUSTOMER 
SET StatusCustomer = 0
WHERE ACCOUNTCUSTOMER.DeviceID = @devid

UPDATE DEVICES
SET DStatus = N'Đang bảo trì'
WHERE DeviceID = @devid
END;
GO
/****** Object:  StoredProcedure [dbo].[StopPlaying]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[StopPlaying] @devid nvarchar(MAX)

AS
BEGIN

UPDATE ACCOUNTCUSTOMER 
SET StatusCustomer = 0
WHERE ACCOUNTCUSTOMER.DeviceID = @devid

UPDATE DEVICES
SET DStatus = N'Chưa sử dụng'
WHERE DeviceID = @devid
END;
GO
/****** Object:  StoredProcedure [dbo].[StopRepairing]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[StopRepairing] @devid nvarchar(MAX)
AS
BEGIN
UPDATE DEVICES
SET DStatus = N'Chưa sử dụng'
WHERE DeviceID = @devid
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatus]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateStatus] @devid nvarchar(MAX)
as 
begin
update DEVICES
set
DStatus = N'Đã sử dụng'
where DeviceID = @devid
end
GO
/****** Object:  StoredProcedure [dbo].[Userlogout_AccountCus]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Userlogout_AccountCus] (@cid NVARCHAR(100),@did NVARCHAR(100))
AS
BEGIN

	UPDATE dbo.DEVICES
	SET
		DStatus=N'Chưa sử dụng'
	WHERE DeviceID=@did

	DECLARE @tienmay FLOAT, @kieumay nvarchar(50)

	SELECT @kieumay=TypeID
	FROM dbo.DEVICES
	WHERE DeviceID=@did

	DECLARE @Tavl DATETIME,@Tu DATETIME
	SELECT @Tavl=TimeAvailible,@Tu=TimeUsed
	FROM dbo.ACCOUNTCUSTOMER
	WHERE CustomerID=@cid

	IF(@kieumay =N'Vip')
		SET @tienmay=7000
	ELSE IF(@kieumay =N'Super Vip')
		SET @tienmay=12000
	else set @tienmay =5000

	--RELOAD LAI CAI SQL DI
	UPDATE dbo.ACCOUNTCUSTOMER
	SET	
		AccMoney=AccMoney+CAST(ROUND((DATEDIFF(MINUTE, 0, @Tavl) - DATEDIFF(MINUTE, @Tu, SYSDATETIME()))*@tienmay/60,1) as float),
		TimeAvailible=0,
		TimeUsed=NULL,
		DeviceID=NULL,
		StatusCustomer=0
	WHERE CustomerID=@cid -- cuu di tran 9
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckIDEmployee]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_CheckIDEmployee] @IDEmployee NVARCHAR(100)
AS
BEGIN
	SELECT * FROM EMPLOYEE WHERE ID = @IDEmployee												--SELECT * để kiểm tra tồn tại của nhân viên
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckIDEmployeeWorking]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_CheckIDEmployeeWorking] @IDEmployee NVARCHAR(100)
AS
BEGIN
	SELECT * FROM TIMEKEEPING WHERE IDEmployee = 1 AND CheckOut IS NULL					--SELECT * để kiểm tra nhân viên có đi làm hay không
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckIn]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_CheckIn] @IDEmployee NVARCHAR(100)
AS
BEGIN
	INSERT INTO dbo.TIMEKEEPING (IDEmployee, CheckIn) VALUES (@IDEmployee, GETDATE())					--Thêm vào bảng WORK
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckOut]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_CheckOut] @IDEmployee NVARCHAR(100)
AS
BEGIN
	UPDATE TIMEKEEPING SET CheckOut = GETDATE() WHERE IDEmployee = @IDEmployee AND CheckOut IS NULL		--Thay đổi chỉnh sửa bảng WORK
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowFullTimeKeeping]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ShowFullTimeKeeping] 
AS
BEGIN
	SELECT * FROM TIMEKEEPING
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowSalary]    Script Date: 5/19/2021 2:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_ShowSalary]
AS
BEGIN
	SELECT * FROM SALARY											
END
GO
USE [master]
GO
